
/* Your CSS Code here. */
*{
	margin:0px;
}

.row{
	display:flex;	 
}
.col-sm-1{
	margin-left:15px;            
}
.col-sm-2{
	margin-left:100px;            
}
.col-sm-3{
	margin-left:270px;            
}
.col-sm-4{
	margin-left:640px;            
}
